html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #343a40;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 1rem;
  flex: 1;
}

h1 {
  color: #343a40;
}

table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table, th, td {
  border: 1px solid #dee2e6;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

th {
  background-color: #e9ecef;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

textarea {
  height: 100px; 
  resize: vertical; 
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"], 
input[type="number"], 
input[type="password"],
textarea 
{
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

input[type="submit"], .action-buttons a, .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover, .action-buttons a:hover, .btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

input[type="submit"]:active, .action-buttons a:active, .btn:active {
  background-color: #003f7f;
  transform: scale(0.95);
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
}

.action-buttons a.edit {
  background-color: #28a745;
}

.action-buttons a.delete {
  background-color: #dc3545;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  /* position: fixed; */
  width: 100%;
  /* bottom: 0; */
}


.admin-links, .viewer-links {
  text-align: center;
  margin: 20px 0;
}

.admin-links .btn, .viewer-links .btn {
  margin: 10px;
}

.title {
  text-align: center;
}